* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



h1{
text-align: center;
font-size: 80%;
}

#button{
    position: relative;
}

body{
    background-image:("https://files.slack.com/files-pri/T011LHFNDU2-F014EPHAZC0/imgp1.png");
}