

h1{
text-align: center;
font-size: 100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    text-align: center;
    display: inline-block;
}





#searchbar{
    position: absolute;
    width: 200px;
    height: 79px;
    color: black;
    background-color: lightsalmon;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    

}

body{
    background-image:url("https://files.slack.com/files-pri/T011LHFNDU2-F014EPHAZC0/imgp1.png");
    background-size: cover;


}

#box{
    object-position: center;
    box-sizing: content-box;
    background-position: center;
    width: 357px;
    margin-right: auto;
    margin-left: auto;
    float: right;
    height: 75px;
    background-color: ghostwhite;
    
}