h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.container{
    display: inline-block;
    margin: 0;
}





#submit{
    position: absolute;
    width: 200px;
    height: 79px;
    color: black;
    background-color: lightsalmon;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
  
    
    
    
    
    
#submit{
        border-width: medium;
        color: black;
        background-color: lightsalmon;
        height: 25px;
        flex-direction: row;
        background-position: center;
    }
    
    body{
        background-image:url("https://files.slack.com/files-pri/T011LHFNDU2-F014EPHAZC0/imgp1.png");
        background-size: cover;
    
    
    }

    .description{
        font-family: 'Squada One', cursive;
        font-size: x-large;
    }
    
    #input{
        width: 300px;
        height: 100px;
        padding: 50px;
        background-position: center;
        background-color: ghostwhite;

        
    }

    #clear{
        height: 25px;
        border-width: medium;
    }



